doctype html
html
  head
    title
    style.
      .main{width:100%;font-family:calibri;background-color: #f4f3ef;}
      .header{
      color:#FFF;
      background:#484541;
      text-align:center;
      font-size:34px;
      padding:10px;
      border-radius:5px;
      }
      .content{padding:15px;}
      .caption{
      color:#484541;
      font-size: 19px;
      }
      .captionUser{
      color:#484541;
      font-size: 23px;
      }
      #userImg{
      border-radius: 50%;
      border:solid 5px #fff;
      }
      .summary-table{
      margin:0 auto;
      border-left:solid 1px #484541;
      border-top:solid 1px #484541;
      }
      .summary-table tr td{
      border-right:solid 1px #484541;
      border-bottom:solid 1px #484541;
      }
      .footer,.footer a{
      color:#FFF;
      }
      .footer{
      font-size:12px;
      text-align:center;
      background:#484541;
      padding:5px;
      border-radius:5px;
      }
  body
    .main
      .header
        b Exam
        | ineer
        b(style='font-size:smaller;font-weight:900')  . 
        | in
      .content
        div(align='center')
         
          p
            b.caption(style='font-weight:normal;') Your Examineer account is now active. Click the button below to login to your account.

          p(style='margin-bottom: 5px;')
            br
          p
            a.hover(href='#{serverUrl}', target='_blank', style="background-color: #484541; font-family: 'proxima_nova_softmedium', Helvetica, Arial, sans-serif; text-decoration: none; color: #ffffff; padding: 10px 20px 10px 20px; border-radius: 4px; font-size: 18px;") Login with examineer
          p(style='margin-bottom: 5px;')
            br
          
        div(align='center')
          p(style='margin-bottom: 15px;margin-top:30px;')
          p
            b.caption
              | For support contact : 
              a(href='mailto:') 
      .footer
        div(style='width:318px; text-align: center; margin:0 auto;')
          | Do not reply to this email.For technical issues contact us at 
          a(href='mailto:')