<!doctype html>
<html lang="en">

<head>
  <title> Examineer | Author Dashboard</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12 ">
            <div class="error">
                <h3>Error: <%-status%></h3>
                <p><%-message%></p><hr>
            
                <p><%-error%></p>
            </div>
        </div>
    </div>
</body>
</html>