<html>
<head>
<?xml version="1.0" encoding="UTF-8"?>
 <script type = "text/javascript"  src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   
<script type="text/javascript"  src="author_public/MathJax/MathJax.js?config=TeX-MML-AM_CHTML" defer></script>

 <!-- plot chart -->
 <!-- <script type="text/javascript"  src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
 <script type="text/javascript"  src="author_public/plotchart/plotly-latest.min.js"></script>
    <script type="text/javascript" src="author_public/plotchart/plotchart.js"></script>
<script type="text/javascript">
function expand(obj){
    obj.style.width = ((obj.value.length + 8) * 8) + 'px';
 }  
</script>
<link rel="stylesheet" href="author_public/css/author.css">
</head>

<style type="text/css">
     
.hide{display:none;}
.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 
</style>

<body>
<!--<img src="../../dist/img/image2.jpg">
<br>
<img src="../../uploads/symbol.svg">-->



<!-- <img src="/../../uploads/unexpected.svg" alt="error: check folder and file names" style="width:100%;min-width:320px;background-color:rgb(250,250,250);padding:7px;border-radius:7px;" hidden="hidden"> -->


<!--<figure align="right">
<img id="imageLoad" folder="g0001" file="sin5.svg" src="../../uploads/sin5.svg" style="width:50%;min-width:100px;background-color:rgb(250,250,250);padding:7px;border-radius:7px;">
</figure>-->
<div>
<% if(data){ %>

<%-data%> 

<%} else{ %>
       

    <div id="loader">
      <center>
        <div class="loader"></div>
        <h1 style="color:#0f6cd7;">Please wait while loading....</h1>
      </center>
    </div>
    <div id="message" class="hide">
        <h1>Server is not responding. Please try again after some time.</h1>
    </div>
    <script type="text/javascript">
    var count=0;
      setTimeout(function() {
          // $('#message').removeClass('hide');
          // $('#loader').hide();  
          // window.location.assign("/author_view_data_question_old?id=<%-dataid%>");
          // count++;
          // console.log(count);
          location.reload();
              //alert("server is not working. ");
      }, 1000);
      
            </script>

<% }%>

</div>


</body>
<%- include('../parts/dynamicMedia'); %>
</html>
