<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title> Examineer | Author DashBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS     -->
    <!-- <link href="../../PaperDashBoard/css/bootstrap.min.css" rel="stylesheet" /> -->
    <!--  Paper Dashboard core CSS    -->
    <link href="../../author_public/PaperDashBoard/css/paper-dashboard.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'> 
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'> -->
    <link href="../../author_public/PaperDashBoard/css/themify-icons.css" rel="stylesheet">
    <!-- <link rel = "stylesheet" href="css/author1.css"> -->
    <link rel="stylesheet" href="../../author_public/css/author_newLogin.css">
    <!-- <script src="../../PaperDashBoard/js/jquery-3.1.1.min.js" type="text/javascript"></script> -->
   
    </head>
    <body class="bodyCss">
            <div class="newlbg"></div>

            <nav class="navbar navbar-inverse  navBG">
                <div class="container-fluid">
                    
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand newBrand" href="#">Examineer</a>
                    </div>
                
                
                    <ul class="nav navbar-nav navbar-right">
                        <li ><a href="<%-studentUrl%>">Student</a></li>
                        <li><a href="#">Author</a></li>
                        <!-- <li><a href="#">Help</a></li> -->
                    </ul>
                </div>
            </nav>
        
        <div class="container-fuild" id="newlogin">
                    <div class="row">
                        <div  class="col-lg-9 col-md-8 col-sm-6 col-xs-12 imgDiv">
                            <!-- <img src="author_public/images/A4.png"  id="stdImg" class="img-responsive img-center" alt="Image"> -->
                            <img src="author_public/images/logo.png" id="imglogo" class="img-responsive " alt="Image" >
                            <div class="row"  id="stdImg" style="overflow-x:auto;display:auto;">
                                    <div class="col-lg-3 col-sm-6">
                                            <div class="card loginImgDiv" style="background-color:#68B3C8">
                                                <div class="card-content">
                                                    <img src="author_public/images/login/Scientific & math rich content.png"/>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="pull-center">
                                                        <b>Scientific and math rich content</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-sm-6">
                                                <div class="card loginImgDiv" style="background-color:#d5e5a3">
                                                    <div class="card-content">
                                                        <img src="author_public/images/login/MINGO.png"/>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="pull-center">
                                                            <b>Mingo: simple programing language for content</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-sm-6">
                                                    <div class="card loginImgDiv" style="background-color:#7A9E9F">
                                                        <div class="card-content">
                                                            <img src="author_public/images/login/Computable Content.png"/>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="pull-center">
                                                                <b>Computable and dynamic content</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                                <div class="col-lg-3 col-sm-6">
                                                        <div class="card loginImgDiv" style="background-color:#66615B">
                                                            <div class="card-content">
                                                                <img src="author_public/images/login/Deep Randomization.png"/>
                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="pull-center">
                                                                    <b>Deep randomisation of content</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-sm-6">
                                                            <div class="card loginImgDiv" style="background-color:#ff8f5e">
                                                                <div class="card-content">
                                                                    <img src="author_public/images/login/Quiz with multiple sections.png"/>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="pull-center">
                                                                        <b>Quiz with multiple sections</b>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                        
                                                        
                        
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="card loginImgDiv" style="background-color:#b8d8d8">
                                                                <div class="card-content">
                                                                    <img src="author_public/images/login/Public repository.png"/>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="pull-center">
                                                                        <b>Public repository of content</b>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                        
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="card loginImgDiv" style="background-color:#ffe28b">
                                                                <div class="card-content">
                                                                    <img src="author_public/images/login/Realtime quiz monitoing.png"/>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="pull-center">
                                                                        <b>Real time quiz monitoring</b>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-6">
                                                                <div class="card loginImgDiv" style="background-color:#fbcab4 ">
                                                                    <div class="card-content">
                                                                        <img src="author_public/images/login/Multi language.png"/>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <div class="pull-center">
                                                                            <b>Support Multilingual content</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                        
                                                        <div class="col-lg-3 col-sm-6">
                                                            <div class="card loginImgDiv" style="background-color:#bababa">
                                                                <div class="card-content">
                                                                    <img src="author_public/images/login/Collaboration.png"/>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="pull-center">
                                                                        <b>Collaboration with other authors on quizzes</b>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                                    

                                <div class="col-lg-3 col-sm-6">
                                    <div class="card loginImgDiv" style="background-color:#7AC29A">
                                        <div class="card-content">
                                            <img src="author_public/images/login/Images & Graphs.png"/>
                                        </div>
                                        <div class="card-footer">
                                            <div class="pull-center">
                                                <b>Image, intractive charts & videos</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="card loginImgDiv" style="background-color:#73c0d6;">
                                        <div class="card-content">
                                            <img src="author_public/images/login/Accessible via web.png"/>
                                        </div>
                                        <div class="card-footer">
                                            <div class="pull-center">
                                                <b>Accessible via web</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                        <div class="card loginImgDiv"  style="background-color:#F3BB45 ">
                                            <div class="card-content">
                                              <img src="author_public/images/login/Free.png" />
                                            </div>
                                            <div class="card-footer">
                                                <div class="pull-center">
                                                    <b>Free for non-commercial usage</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                       </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 loginFrmDiv sticky "> 
                            <img src="author_public/images/logo.png" id="mainLogo" width="450px" class="img-responsive logo" alt="Image">
        
                                <br>
                            <h3 class="text-center">
                                    <b>Forgot Password</b>
                            </h3>
                            
                            <% if (status=='success') { %>
                              <div class="box-body" id="alert_box1">
                                <div class="alert alert-success alert-dismissable">
                                  <i class="fa fa-ban"></i>
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                                  <b><%=msg%></b>
                                 </div>
                              </div>
                           <% } %>
                      
                           <% if (status=='error') { %>
                              <div class="box-body" id="alert_box1">
                                <div class="alert alert-danger alert-dismissable">
                                  <i class="fa fa-ban"></i>
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                                  <b><%=msg%></b>
                                 </div>
                              </div>
                           <% } %>

                                <!-- <form  name="loginForm" class="lgFrm">   -->
                                        <form role="form" name="loginForm"  class="lgFrm" action="/authorforgotrequest" method="post">
                                          <div class="form-group">
                                            <!-- <label for="quizId">Quiz ID:</label> -->
                                            <input type="email" class="form-control custom-css" placeholder="Email" name="email">
                                            <input type="hidden" name="log_Id" id="log_Id" value="">
                                            <input type="hidden" name="log_Token" id="log_Token" value="">
                                          </div>
                                          
                                            
                                            <br>
                                            <div align="right" id="signInBtn">
                                              <button type="submit" class="btn btn-wd btn-lg btn-fill btn-move-right">
                                                <b>Reset </b>Password
                                                <span class="btn-label">
                                                  <i class="ti-angle-right"></i>
                                                </span>
                                              </button><br/><br/>
                                              <div class="forgot" style="font-size:16px;">
                                                <a href="/authorlogin"><b>Sign In</b></a><br>
                                              </div>
                                            </div>
                                          </form>
                            
        
                            <div class="text-center footer">
                               <span id="year"> <%-copyright%></span>
                                <!-- &copy;<span id="logcurrentYear"></span> examineer.in -->
                            </div>
                        </div>
                    </div>
        </div>
    </body>
    <script>
        $(function(){
            $('.navbar-toggle').click(function(){
                $("ul.navbar-nav").toggle(300);
            });
        })
    </script>
</html>




