<footer class="footer">
    <div class="container-fluid">
        <div class="copyright pull-right">
            <%-copyright%>
        </div>
    </div>
</footer>
<style type="text/css">
    .footer .copyright{
        padding:0px;
    }
</style>