<!-- <div class="tab-pane quesYScroll" id="help"> -->

<div class="tab-pane" id="help">
    <div class="form-group row">
        <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 inMiddle">
            <label class=" control-label text-right ">Hint
                <button type="button" data-toggle="popover"  class="btn btn-info btn-simple btn-xs" data-content="<%-tooltip.tooltipQueHint01%>">
                    <i class="ti-help-alt fa-lg"></i>
                </button>
            </label>
            <textarea class="form-control" placeholder="Hint" rows="8" id="id_commentsHint"><%-data.hint%></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 inMiddle">
            <label class="control-label text-right">Explanation
                <button type="button" data-toggle="popover"  class="btn btn-info btn-simple btn-xs" data-content="<%-tooltip.tooltipQueExplain01%>">
                    <i class="ti-help-alt fa-lg"></i>
                </button>
            </label>
            <textarea class="form-control" placeholder="Explanation" rows="8" id="id_commentsExpl"><%-data.explanation%></textarea>
        </div>
    </div>

</div>